p{
    background-color: blueviolet;
    color: rosybrown;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 10px;
    text-decoration: dashed;
    padding: 0px;
    margin: auto;

}